body {
    padding: 3vh 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(173, 150, 122);
}

.heading {
    font-size: 3vh;
    font-weight: 650;
}

.container {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1vw;
}

.add-book {
    height: 16%;
}

.add:hover, 
dialog button:hover, 
.delete-icon:hover, 
.window-close:hover, 
.not-read:hover,
.read:hover {
    cursor: pointer;
}

dialog {
    height: 60%;
    width: 30%;
    padding: 5vh;
    border: none;
    border-radius: 1.5%;
}

.window-close {
    position: absolute;
    top: 8px;
    right: 9px;
    height: 4%;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 8%;
}

.delete-icon:hover {
    filter: invert(31%) sepia(86%) saturate(1500%) hue-rotate(335deg) brightness(90%) contrast(109%);
}

.card {
    position: relative;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    font-size: 1.1rem;
    text-align: center;
    background-color: rgb(236, 236, 248);
    box-shadow: 0 0.4vh 10px #492b2b5e;
}

.add {
    background-color: white;
}

.card-title, .card-author, .card-pages {
    padding: 0.4vh 1vw;
}

.card-title {
    font-weight: 700;
}

/* default for read button */
.read-btn {
    color: white;
    font-size: 1rem;
    border-radius: 16px;
    font-weight: 600;
    padding: 0.8vh 1.8vw;
    position: absolute;
    bottom: 7%;
    border: none;
}

.read-card {
    background-color: rgb(243, 227, 227);
}

.not-read {
    background-color: rgb(49, 130, 230);
}

.read {
    background-color: rgb(230, 61, 49);
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.input-box {
    padding: 1.5vh 0;
    width: 100%;
}

label {
    display: block;
    padding-bottom: 0.4vh;
}

label[for="read"] {
    padding-right: 0.6vw;
}

input {
    width: 98%;
    padding: 0.5vh 0 0.5vh 0.3vw;
    font-size: 1.2rem;
}

.read-box {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    height: 2.4vh;
    width: 2.4vh;
}

.cfm-add-btn {
    width: 20%;
    font-size: 1.4rem;
    padding: 0.6vh 1vw;
    border-radius: 20px;
    font-weight: 550;
    border: none;
    background-color: rgb(49, 130, 230);
    color: white;
}

.cfm-add-btn:hover, .not-read:hover {
    background-color: rgb(35, 114, 211);
}

.read:hover {
    background-color: rgb(209, 49, 37);
}